body{
    background-size : cover;
}
.heading{
    font-size: 20px;
    margin: 1px;
    width: 100%;
}
#start, #object_number, #status{
    font-size: 20px;
}
.copy_right_footer{
    position: fixed;
    width: 100%;
    color: black;
    bottom: 0;
    line-height: 3;
    text-align : center;
    background-color : white;
}
canvas{
    border: 2px solid white;
    margin-top: 130px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px white;
}